<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <h1>뭘보노?</h1>
    <a th:href="@{https://youtube.com/shorts/eM3QH7s5zd4?si=P5Ov3sySzfx_Gp-P}">
        <img src="/front/images/img.png">
    </a>
    <form name="frmSave" method="post">
        <button type="button" class="fileUploads" data-gid="testgid" data-location="testlocation">이미지 업로드</button>
    </form>
</main>
</html>